@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC'); :root {
    color: #ffffff;
    background-color: #000000;
}

h1,h2,h3,h4,h5,p {
    text-align: center;
    font-family: 'Noto Serif SC', sans-serif;
    color: #ffffff;
}

body {
    max-width: 920px;
    margin: auto;
}

header .logo {
    text-align: center;
    margin: 24px auto;
}

header .menu {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

header .menu li {
    list-style-type: none;
}

header .menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    ; }

header .menu li a:hover {
    text-decoration: underline;
}

.imglogo {
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.responsive {
    width: 100%;
    height: auto;
    display: flex;
}

.rounded {
    border-radius: 50%;
}

.griddy {
    border: 1px solid black;
    padding: 5px;
}

.griddy h3 {
    text-align: center;
}

@media (min-width: 450px) {
    .pgrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.pgrad {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.socialnetwork {
    display: flex;
    justify-content: center;
}

.socialnetworkimg {
    display: flex;
    align-items: center;
}

.map {
    width: 70%;
    margin: auto;
    margin-top: 30px;
}

.links {
    text-align: center;
}

.buttonalign {
    text-align: center;
}

.bcol {
    background-color: black;
}

@media (min-width: 660px) {
    .pgrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 880px) {
    .pgrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

td, th ,ul, li {
    text-align: center;
    list-style-type: none;
}

#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}

#back2Top:hover {
    background-color: #DDF;
    color: #000;
}

.profile img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: filter 600ms ease;
    -webkit-transition: -webkit-filter 600ms ease;
}

.profile img:hover {
    filter: grayscale(0);
    -webkit-filter: greyscale(0);
}
